body {
    min-height:100vh;
    background-image: linear-gradient(
        to bottom,
        rgb(143,119,184) 0%,
        rgb(148,87,113) 74%,
        rgb(65,62,62) 100%);
    margin: 0;
    padding: 0;
}


#HomepageTitle{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    flex-grow:1 2 1;
}

/*#HomepageTitle > * {*/
/*    border: 1px red solid;*/
/*}*/


h1{
    /* padding-top:70px; */
    color:black;
    text-align: center;
    padding-bottom: 30px;
}
.two-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

.jim-nightshade-regular {
  font-family: "Jim Nightshade", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}


#fancy-scroll {
    width:80%;
    height:500;
    margin: auto;
    justify-content: space-around;
}

button {
    width: 300px;
    height:150px;
    background-color: paleturquoise;
    border-radius: 30px;
}

button:hover {
    transform: scale(1.2);
}

/* #TCH {
    margin-top: 10%;
    margin-left: 8%;
}

#TDDUP {
    margin-top: 10%;
    margin-left: 38%;
} */